<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <title>터미널 상태 모니터링</title>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/sockjs-1.6.1.js"></script>
    <script src="/js/stomp-1.7.1.js"></script>
    <script th:src="@{/js/monitor/monitor-list.js}" type="text/javascript"></script>
    <link th:href="@{/css/monitor/monitor-list.css}" rel="stylesheet"/>
</head>

<div style="display: flex; align-items: center;">
    <div id="time" style="width: 350px;">Subscription time...</div>
    <!--div style="width: 100px;font-size: 12px;"><input type="checkbox" id="monitorType">Fixed Row</div-->
    <div>
        <select id="command" style="width: 100px;">
            <option value="">command select</option>
            <option value="reboot">reboot</option>
            <option value="cmd">cmd</option>
        </select>
        <select id="terminalIDList" style="width: 80px;">
            <option value="ALL">ALL</option>
        </select>
        <input type="button" id="sendCommand" value="send">
    </div>
</div>

<div id="monitorContainer" class="dynamic-div">
    <table id="monitorTable" style="width: 1024px;border: blue;font-size: 12px;table-layout: fixed;">
        <thead>
        <tr>
            <th style="width: 80px;">TerminalID</th>
            <th style="width: 150px;">sendTime</th>
            <th style="width: 150px;">recvTime</th>
            <th style="width: 70px;">Command</th>
            <th style="width: 50px;">status</th>
            <th style="width: 80px;">srType</th>
            <th style="width: 400px;">recvData</th>
        </tr>
        </thead>
    </table>
</div>

</body>
</html>
